body {
    background: lightblue;
}

h1 {
    text-align: center;
}
nav {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}   